* {
    box-sizing: border-box;
}

.col-1 {
    width: 7.418%;
}

.col-2 {
    width: 15.83%;
}

.col-3 {
    width: 24.25%;
}

.col-4 {
    width: 32.66%;
}

.col-5 {
    width: 41.08%;
}

.col-6 {
    width: 49.5%;
}

.col-7 {
    width: 57.91%;
}

.col-8 {
    width: 66.33%;
}

.col-9 {
    width: 74.75%;
}

.col-10 {
    width: 83.16%;
}

.col-11 {
    width: 91.58%;
}

.col-12 {
    width: 100%;
}

