html,
body {
    margin: 0;
    padding: 0;

}
/* Additional CSS for extra flare! */
.head{
    font-style: oblique;
    color:aqua;
    
}
/* Additional CSS for extra flare! */
p{
    font-style: italic;
    color: white;
    background-color: red;
}

.img-L {
    display: block;
    width: 100%;
    height: 500px;
}

.img-M {
    display: none;
}

@media screen and (max-width:500px) {
    .img-L {
        display: none;
        width: 100%;
    }
    .img-M {
        display: block;
        width: 100%;
        height: 400px;
    }
}