html, body{
    margin: 0;
    padding: 0;
}
nav{
    background-color:rgb(102, 188, 211);
    padding: 5px;
    color:white
}
nav a{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
#content-wrapper{
    margin: 16px;
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid #999;
    padding: 16px;
    box-sizing: border-box;
}
.column-wrapper{
}
.column-3{
    width: calc(100% / 3);
    float: left;
    text-align: center;
}


.L{display: block; width:100%;height: auto;}
.P{display: none; width:100%;height: auto;}


@media screen and (max-width:600px) {
    .P{display: block;}
    .L{display:none}
    .column-3{float: none;
    padding:5px;}
 
}
